.a {
  background: rgba(120, 55, 182, 0.12);
  border-radius: 29% 61% 20% 55% / 0% 50% 18% 36%;
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProjectLogo {
  width: 50%;
  height: 70%;
}
