.eventCard {
    border-radius: 16px;
    margin:14px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url("../Assets/pexels-krivec-ales-552789.jpg");
    background-size: cover;
}

.cardText {
    white-space: pre-line;
}
.cardBody{
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transperent);
}

.eventName{
    text-align: center;
}