.event {
    
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
    
}
.addEvent {
    margin-top: 10px;
    
}

.event:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.column{
    width:250px;
}

.content{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.events{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap:25px;
}