.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../Assets/pexels-pixabay-257092.jpg");
    background-size: cover;
  }
  section {
    width: 50%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  